html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  background-image: url(./fruit.jpg);
  background-size: cover;
  margin: 0;
  padding: 0;
}


.base {
  background-color: #040509;
  color: #CFC2B1;
  padding: 50px;
  overflow: hidden;
  position: absolute;
  text-align: center;
  width: 94%;

}


hr {
  width: 200px;
  color: #CA6338;
  opacity: 0.4;
}


h1 {
  font-family: 'Hurricane', cursive;

  font-size: 100px;
  font-weight: 400;
}

h2 {
  text-transform: uppercase;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 50px;
}

p {
  font-family: 'Open Sans Condensed', sans-serif;
  letter-spacing: 1px;
  font-size: 34px;
}

